.calculator-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

/*************************************/
/* Main component and dark theme */
/*************************************/
.calculator {
    --main-bg: rgba(11, 115, 133, 0.3);
    --header-bg: rgba(0, 0, 0, 0.15);
    --buttons-bg: rgba(33, 37, 41, 0.9);
    --btn-bg: #343a40;
    --btn-hover: rgba(52, 58, 64, 0.2);
    --btn-equal: rgba(11, 115, 133, 0.4);
    --btn-equal-hover: rgba(11, 115, 133, 0.1);
    --color: #f8f9fa;
    --color-shade: #c6c7c8;
    --symbol-color: #15aabf;

    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    justify-content: center;
    min-width: 23em;
    margin-top: auto;
    overflow: hidden;
    color: var(--color);
}

/*************************************/
/* Light theme colors */
/*************************************/
.calculator.light {
    --main-bg: #66d9e8;
    --header-bg: rgba(0, 0, 0, 0.1);
    --buttons-bg: rgba(33, 37, 41, 0.3);
    /* --btn-bg: #ced4da; */
    --btn-bg: #c5f6fa;
    --btn-hover: rgba(153, 233, 242, 0.3);
    --btn-equal: #66d9e8;
    --btn-equal-hover: rgba(102, 217, 232, 0.4);
    --color: #343a40;
    --color-shade: #484e53;
    --symbol-color: #014653;
}

/*************************************/
/* HEADER */
/*************************************/
.calculator-header {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.6rem;
    padding: 1.2rem 2.4rem;
    flex-grow: 1;

    font-size: 2.6rem;
    color: var(--color-shade);

    background-color: var(--header-bg);
}

.calculator-formula {
    min-height: 4rem;
}

.calculator-result {
    min-height: 4rem;
}

.highlight {
    color: var(--color);
    font-size: 4rem;
    font-weight: 500;
}

/*************************************/
/* BODY */
/*************************************/
.calculator-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    background-color: var(--buttons-bg);
    flex-grow: 1;
    gap: 0.4rem;
    min-height: 38.4rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.6rem;
    height: 100%;
    width: 100%;
    border: none;
    color: var(--color);
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--btn-bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(108%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    background-color: var(--btn-hover);
}

.btn-symbol {
    color: var(--symbol-color);
}

.btn-equal {
    height: 100%;
    background-color: var(--btn-equal);
}

.btn-equal:hover {
    background-color: var(--btn-equal-hover);
}

.icon {
    width: 32px;
    height: 32px;
}

.icon-night {
    display: none;
}

.calculator.light .icon-day {
    display: none;
}

.calculator.light .icon-night {
    display: inline;
}

*:focus {
    outline: none;
}


/*************************************/
/* AFTER 768px */
/*************************************/
@media screen and (min-width: 48em) {
    .calculator-wrapper {
        align-items: center;
    }

    .calculator {
        max-width: 48em;
        max-height: 72em;
        margin-top: 0;
    }
}


@media screen and (max-height: 24em) {
    .calculator-body {
        min-height: 10rem;
        flex-shrink: 1;
    }
}

/*************************************/
/* PHONE LANDSCAPE */
/*************************************/
@media screen and (max-height: 36.98em) and (orientation: landscape) {
    .calculator {
        flex-direction: row;
        max-width: none;
    }
}